<div class="user-profile">
<h1>Welcome to Your Profile Page</h1>


<h2>Your projects</h2>

  <% @user.owned_projects.each do |project| %>
  <ul>
    <li><%= "Name of project is #{project.title}" %>
    <li><%= "time remaining on this project is
    #{distance_of_time_in_words(project.end_date,project.start_or_now)}"%></li>
    <li><%= "Your project has raised $ #{project.money_raised}" %></li>
</ul>
  <% end %>

<h2>Your Profile</h2>
<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>
<<<<<<< HEAD

<h1>Projects you own</h1>
<p><% @owned_projects.each do |project| %>
  <%= "You owned #{project.title}" %>
<% end %> </p>
</div>
=======
>>>>>>> e3cf7b22f30a2256c5e41cd36f2133eaaeeb4f34
