<div class="user-profile">
<h1>Welcome to Your Profile Page</h1>


<h2>Your projects</h2>

  <% @user.owned_projects.each do |project| %>
  <ul>
    <li><%= "Name of project is #{project.title}" %>
    <li><%= "time remaining on this project is
    #{distance_of_time_in_words(project.end_date,project.start_or_now)}"%></li>
    <li><%= "Your project has raised $ #{project.money_raised}" %></li>
</ul>
  <% end %>

<h2>Your Profile</h2>
<p><strong>Email:</strong><%= @user.email %></p>
<%= link_to 'Edit Account', edit_user_path(@user) %>


<h1>You Backed</h1>
<%  @user.backed_projects.each do |project| %>
<p>  <%= "You have backed #{project.title}" %> </p>
  <% end %>

<p>The total amount you have spent on each project was $<b><%= @total_pleged %></b>.</p>


<h1>Projects you own</h1>
<p><% @user.owned_projects.each do |project| %>

  <% if @project.present? && @project == project %>
    <div class="errors">
      <h2>Can't delete</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= "You owned #{project.title}" %>  <%= link_to "Delete", project_path(project), method: :delete, data:
  {confirm: 'Are you sure you want to delete this project?'}%> </p>
<% end %> </p>
</div>
