<h2>Rewards</h2>
<div class="field">
  <%= rewards_fields.label :title %>
  <%= rewards_fields.text_field :title %>
</div>

<div class="field">
  <%= rewards_fields.label :description %>
  <%= rewards_fields.text_area :description %>
</div>

<div class="field">
 <%= rewards_fields.label :amount %>
 <%= rewards_fields.number_field :amount %>
</div>
